.main-toolbar {
  position: absolute;
  top: 0;
  right: 0;
}

img {
  max-height: 100%;
}

.header-container {
  text-align: center;
  width: fit-content;
  padding: 15px 0px 15px 0px;
  height: 10%;
  width: 100%;
}

.content-container {
  padding-top: 15px;
  width: fit-content;
  margin: auto;
  padding-bottom: 50px;
}
