<div class="header-container">
  <div class="main-toolbar">
    <button mat-icon-button (click)="onLogOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
  <a routerLink="/"><img src="/assets/logo.png" class="logo" alt="Logo"></a>
</div>

<mat-divider></mat-divider>

<div class="content-container" [@fadeIn]="loggedIn">
  <app-login *ngIf="!loggedIn"></app-login>
  <div *ngIf="loggedIn" [@fadeIn]="getRouterOutletState(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
