<div class="main-toolbar">
  <button *ngIf="loggedIn" mat-icon-button (click)="onLogOut()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>

<div class="site-container" [@fadeIn]="loggedIn">
  <div class="header-container">
    <a routerLink="/">
      <img src="/assets/logo.png" class="logo" alt="Logo">
    </a>
  </div>
  <mat-divider></mat-divider>
  <div class="content-container">
    <div *ngIf="canGoBack()">
      <button mat-raised-button (click)="goBack()">
        <mat-icon>arrow_left</mat-icon> Zurück
      </button>
    </div>
    <div *ngIf="loggedIn" [@fadeIn]="getRouterOutletState(outlet)" class="content">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <app-login *ngIf="showLogin"></app-login>
  </div>
</div>
