<!-- Greeter when not logged in: -->
<div *ngIf="!loggedIn" [@fadeSite]="loggedIn" (@fadeSite.done)="removeContent()" class="greeter">
  <div class="greeter-header">
    <img class="logo" src="assets/logo.png" width="100">
    <h1 class="logo-text">Workshop Organisation<br>HTBLA Kaindorf</h1>
  </div>
  <app-login [redirectUrl]="undefined"></app-login>
</div>

<!-- Main Site when logged in: -->
<div *ngIf="showContent" class="main-site">
  <div class="main-content" [@fadeIn]="getRouterOutletState(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
