<h1 mat-dialog-title>Login</h1>

<div mat-dialog-content [@fadeIn]="this.error" [@fadeInRetarded]="this.loading">
  <mat-error *ngIf="error">{{error}}</mat-error>
  <div *ngIf="!loading" class="forms">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput required [(ngModel)]="username" placeholder="Username">
    </mat-form-field>
    <br>
    <mat-form-field class="input-password">
      <mat-label>Passwort</mat-label>
      <input matInput required name="password" [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" placeholder="********" (keydown.enter)="onLogin()">
      <button mat-button matSuffix mat-icon-button class="show-password-button" (click)="showPassword = !showPassword">
        <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="spinner" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <div mat-dialog-actions class="actions">
    <button mat-button [disabled]="loading" (click)="onCancel()">Abbrechen</button>
    <button mat-button [disabled]="loading" (click)="onLogin()" cdkFocusInitial>Anmelden</button>
  </div>
</div>
