<mat-card *ngIf="showAdmin">
  <mat-card-content>
    <mat-form-field class="select-status">
      <mat-label>Filter</mat-label>
      <mat-select [(ngModel)]="showStatus" multiple>
        <mat-option *ngFor="let stat of allStatus | keyvalue" [value]="stat.key" matTooltip="{{stat.value[1]}}">
          {{stat.value[0]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button class="button-show" (click)="fetchFiltered()">
      <mat-icon>visibility</mat-icon> Anzeigen
    </button>
    <mat-divider></mat-divider>
    <div style="height: 15px;"></div>
    <button routerLink="new" mat-raised-button>
      <mat-icon>add</mat-icon> Neues Event
    </button>
  </mat-card-content>
</mat-card>
<mat-error *ngIf="error">{{error}}</mat-error>
<span *ngIf="notice">{{notice}}</span>
<div *ngIf="!error" [@fadeInRetarded]="obligatoryUnits">
  <mat-card *ngFor="let obligatoryUnit of obligatoryUnits">
    <button mat-button class="card-header-button" routerLink="/obligatoryunits/{{obligatoryUnit.id}}">
      <mat-card-header>
        <h3>{{obligatoryUnit.name}}</h3>
      </mat-card-header>
    </button>
    <mat-card-content>
      <table>
        <tr>
          <td>
            <mat-icon>event</mat-icon>
          </td>
          <td>
            <span>{{obligatoryUnit.startDate | date:"dd. MMM"}}</span>
          </td>
          <td>
            <span>{{obligatoryUnit.endDate | date:"dd. MMM"}}</span>
          </td>
        </tr>
        <tr *ngIf="showAdmin" matTooltip="{{allStatus.get(obligatoryUnit.status)[1]}}">
          <td>
            <mat-icon>info</mat-icon>
          </td>
          <td>
            <span>{{allStatus.get(obligatoryUnit.status)[0]}}</span>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <p>{{obligatoryUnit.description}}</p>
    </mat-card-content>
    <mat-card-footer *ngIf="showAdmin" class="admin-tools-footer">
      <mat-divider></mat-divider>
      <button mat-icon-button *ngIf="obligatoryUnit.status === 0"
        (click)="setVisible(obligatoryUnit)"
        matTooltip="Sichtbar machen">
        <mat-icon>visibility</mat-icon>
      </button>
      <button routerLink="/obligatoryunits/{{obligatoryUnit.id}}/edit" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteOU(obligatoryUnit)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-card-footer>
  </mat-card>
</div>
