mat-card {
  margin-bottom: 15px;
  min-width: 480px;
}

.card-header-button {
  width: 100%;
}

.select-status {
  margin-right: 10%;
}

.button-show {
  width: 45%;
}

.admin-tools-footer {
  text-align: right;
}
