mat-card {
  margin-bottom: 15px;
}

.card-header-button {
  width: 100%;
}

.select-status {
  margin-right: 8%;
}

.button-show {
  padding: 0% 4% 0% 4%;
}

.admin-tools-footer {
  text-align: right;
}
