mat-card {
  //padding: 5px 30px 25px 30px;
  width: fit-content;
  min-width: 300px;
  margin: auto;
}

mat-spinner {
  margin: auto;
}

mat-error {
  text-align: center;
}

.input-container {
  text-align: center;
}

button {
  width: 100%;
}
