<mat-error *ngIf="error">{{error}}</mat-error>
<mat-card *ngIf="workshop">
  <mat-card-header>
    <h3> {{workshop.name}}</h3>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput required placeholder="Name" maxlength="64" [(ngModel)]="workshop.name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput required placeholder="Beschreibung" maxlength="512" [(ngModel)]="workshop.description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Beginndatum</mat-label>
      <input matInput required [matDatepicker]="startPicker" [(ngModel)]="workshop.startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Dauer (in Tagen)</mat-label>
      <input matInput required [(ngModel)]="workshop.duration" min="1" step="1" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Maximale Teilnehmeranzahl</mat-label>
      <input matInput required [(ngModel)]="workshop.participants" min="1" step="1" type="number">
    </mat-form-field>
    <div class="bottom-toolbar">
      <button mat-raised-button (click)="onCancel()">
        <mat-icon>close</mat-icon> Abbrechen
      </button>
      <button mat-raised-button (click)="onSave()">
        <mat-icon>check</mat-icon> Speichern
      </button>
    </div>
  </mat-card-content>
</mat-card>
