mat-card {
  width: fit-content;
  min-width: 300px;
  margin: auto;
}

mat-spinner {
  margin: auto;
}

mat-card-content {
  overflow: hidden;
}

mat-error {
  text-align: center;
  padding-bottom: 15px;
}

.cause-container {
  text-align: center;
}

.input-container {
  text-align: center;
}

button {
  width: 100%;
}
