<mat-card>
  <mat-card-header>
    <h2>Login</h2>
  </mat-card-header>
  <mat-card-content [@fadeIn]="this.error" [@fadeInRetarded]="this.loading" [@loadingResize]="loading ? 'loading' : 'expanded'">
    <mat-error>{{error}}</mat-error>
    <div *ngIf="!loading" class="input-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput required name="username" [(ngModel)]="username" placeholder="Username">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input matInput required name="password" [(ngModel)]="password" type="password" placeholder="********" (keydown.enter)="onLogin()">
      </mat-form-field>
    </div>
    <mat-spinner *ngIf="loading" diameter="50"></mat-spinner>
  </mat-card-content>
  <button mat-raised-button [disabled]="loading" (click)="onLogin()">Login</button>
</mat-card>
